/*-----------------------------------*\
#CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    --xp-gradient: rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%;
    
    --titlebar-gradient: 180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7;
    
    --titlebar-gradient-inactive: rgb(118, 151, 231) 0%, rgb(126, 158, 227) 3%, rgb(148, 175, 232) 6%, rgb(151, 180, 233) 8%, rgb(130, 165, 228) 14%, rgb(124, 159, 226) 17%, rgb(121, 150, 222) 25%, rgb(123, 153, 225) 56%, rgb(130, 169, 233) 81%, rgb(128, 165, 231) 89%, rgb(123, 150, 225) 94%, rgb(122, 147, 223) 97%, rgb(171, 186, 227) 100% : rgb(118, 151, 231) 0%, rgb(126, 158, 227) 3%, rgb(148, 175, 232) 6%, rgb(151, 180, 233) 8%, rgb(130, 165, 228) 14%, rgb(124, 159, 226) 17%, rgb(121, 150, 222) 25%, rgb(123, 153, 225) 56%, rgb(130, 169, 233) 81%, rgb(128, 165, 231) 89%, rgb(123, 150, 225) 94%, rgb(122, 147, 223) 97%, rgb(171, 186, 227) 100%;
   
    --window-box-shadow-inactive: inset -1px -1px rgb(130, 165, 228), inset 1px 1px rgb(130, 165, 228), inset -2px -2px rgb(130, 165, 228), inset 2px 2px rgb(130, 165, 228), inset -3px -3px rgb(130, 165, 228), inset 3px 3px rgb(130, 165, 228);
    
    --window-box-shadow: inset -1px -1px #424fa2, inset 1px 1px #4e68d1, inset -2px -2px #5669c0, inset 2px 2px #528eef, inset -3px -3px #4e73d7, inset 3px 3px #5284da;
    
    --tile-box-shadow: rgb(0 0 0 / 30%) -1px 0px inset, rgb(255 255 255 / 20%) 1px 1px 1px inset;
    
    --tile-box-shadow-focus: rgb(0 0 0 / 20%) 0px 0px 1px 1px inset, rgb(0 0 0 / 70%) 1px 0px 1px inset;

    --z-base: 1;
    --z-window: 100;
    --z-taskbar: 500;
    --z-tooltip: 1000;
    --z-startmenu: 1500
}

/*-----------------------------------*\
#RESET
\*-----------------------------------*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body, html { height: 100%; }

body {
    width: 100%;
    overflow: hidden;
    /* font-family: Tahoma, Arial, sans-serif; */
    font-family: MSSS, Arial, system-ui, Segoe UI, Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
    font-size: 11px;
    line-height: 1.5;
}

body {
    font-family: Arial;
    font-size: 12px;
    color: #222;
}

ol,ul {
    list-style: none
}

img,svg {
    vertical-align: middle;
    max-width: 100%;
    height: auto
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,input,select,textarea {
    font-size: 11px;
    user-select: text!important;
    -webkit-user-select: text!important;
    -moz-user-select: text!important;
    -ms-user-select: text!important
}

a {
    color: inherit;
    text-decoration: none
}

/*-----------------------------------*\
#LOADER SCREEN 
\*-----------------------------------*/



/*-----------------------------------*\
#LOGIN SCREEN 
\*-----------------------------------*/




/*-----------------------------------*\
#DESKTOP HOME SCREEN 
\*-----------------------------------*/




/*-----------------------------------*\
#TASKBAR 
\*-----------------------------------*/



/*-----------------------------------*\
#START MENU
\*-----------------------------------*/



/*-----------------------------------*\
#WINDOWS
\*-----------------------------------*/
